<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars Viewer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Cars Viewer</h1>

    <div class="header">
        <h1>Big Logo / Names</h1>
    </div>

    <div class="main-layout">

    <div class="left-buttons"> 
        <h3>Search buttons</h3>
        <span>
            <input type="text" class="search" placeholder="search">
            <button type="button" class="search-btn">Search</button>
        </span>

        <span class="select">
            <p>Colors</p>
            <select name="color">
                <option value="" disabled selected>Select Color</option>
                <option value="red">Red</option>
                <option value="black">Black</option>
                <option value="white">White</option>
                <option value="blue">Blue</option>
            </select>
        </span>
        <span></span>
    </div>

    <div class="cars-display">

        <div class="car1">
            <img src="/api/img/audi_a4.jpg" alt="audi_a4" class="audi_a4">
            <p>Audi A4</p>
            <p>Link</p>
        </div>

        <div class="car2">
            <img src="/api/img/bmw_3series.jpg" alt="bmw_3seriees" class="bmw_3series">
            <p>BMW 3 Series</p>
            <p>Link</p>
        </div>

        <div class="car3">
            <img src="/api/img/chevrolet_silverado.jpg" alt="chevrolet" class="chevrolet">
            <p>Chevrolet Silverado</p>
            <p>Link</p>
        </div>

        <div class="car4">
            <img src="/api/img/ford_f150.jpg" alt="ford" class="ford">
            <p>Ford F150</p>
            <p>Link</p>
        </div>

        <div class="car5">
            <img src="/api/img/honda_civic.jpg" alt="honda" class="honda">
            <p> Honda Civic</p>
            <p>Link</p>
        </div>

        <div class="car6">
            <img src="/api/img/hyundai_sonata.jpg" alt="hyundai" class="hyundai">
            <p>Hyundai Sonata</p>
            <p>Link</p>
        </div>

        <div class="car7">
            <img src="/api/img/lexus_rx.jpg" alt="lexus" class="lexus">
            <p>Lexus RX</p>
            <p>Link</p>
        </div>

        <div class="car8">
            <img src="/api/img/mercedes_eclass.jpg" alt="mercedes" class="mercedes">
            <p>Mercedes E-Class</p>
            <p>Link</p>
        </div>

        <div class="car9">
            <img src="/api/img/nissan_altima.jpg" alt="nissan" class="nissan">
            <p>Nissan Altima</p>
            <p>Link</p>
        </div>

        <div class="car10">
            <img src="/api/img/toyota_corolla.jpg" alt="toyota" class="toyota">
            <p> Toyota Corolla</p>
            <p>Link</p>
        </div>

    </div>

</div>
</body>
</html>